* {
    margin: 0px;
    padding: 0;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #DAA520;
    border-radius: 5px;
}

nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

main {
    height: 75vh;
    padding: 1px 4px;
    display: grid;
}

section {
    height: 100%;
    flex: 1;
    gap: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    background-color: white;
    color: #000000;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin: 1px 5px;
    background-color: #DAA520;
}

button {
    padding: 7px;
    border-radius: 5px;

}

.img {
    background-color: #DAA520;
    border-radius: 30px;
}

#proximaOf {
    padding: 2px;
    background-color: #DAA520;
    border-color: #DAA520;
}

.descricao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

